<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@dafacto" />
<meta name="twitter:creator" content="@dafacto" />
<meta property="og:url" content="{{ page.url }}" />
<meta property="og:title" content="{{ page.title | default: 'Empty Døllar Set - A guide for beginners' }}" />
<meta property="og:description" content="{{ page.intro | default: 'If you’re new to Empty Døllar Set and curious to learn more, you’ve come to the right place. In just a few quick lessons, you’ll learn all the basics.' }}" />
<meta
  property="og:image"
  content="https://esd.fyi/images/twitter.png"
/>
