$brand: lighten(saturate(#404e70, 0%), 0%);
$bg: #28334c;
$text: #333;
$text-muted: rgba($text, 0.66);

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sixing: border-box;
  font-family: inherit;
}

::selection {
  background: rgba($brand, 0.25);
}

html {
  font-size: 20px;
  @media (max-width: 500px) {
    font-size: 18px;
  }
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  font: 1rem/1.4 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  fill: currentColor;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1em;
  font-weight: 800;
  line-height: 1.1;
}

h1 {
  font-size: 2rem;
  @media (min-width: 850px) {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 1.66rem;
}

h3 {
  margin-top: 1.5em;
  color: $text;
  font-size: 1.2rem;
}

p {
  margin-top: 0;
  &:first-child {
    margin-top: -10px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

ul,
ol {
  padding: 0 0 0 1.1em;
}

li {
  & + & {
    margin-top: 1em;
  }
}

strong {
  font-weight: 800;
}

header {
  position: relative;
  padding: 50px 0 75px;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;

  &::before,
  &::after {
    content: "";
    z-index: 1;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 250vw;
    height: 250vw;
    min-width: 100vh;
    min-height: 100vh;
    border-radius: 50%;
    background: $brand;
  }

  .container {
    z-index: 2;
    position: relative;
  }

  strong {
    display: inline-block;
    opacity: 0.5;
    line-height: 1;
  }

  h1 {
    margin: 20px 0;
  }

  p {
    margin: 0;
  }

  img {
    display: block;
    margin: 0 auto 50px;
    height: 64px;
    width: 64px;
  }

  &.alt {
    text-align: left;
    &::before {
      transform: translateX(-55%);
    }
    &::after {
      bottom: 10px;
      transform: translateX(-45%);
      background: rgba($brand, 0.1);
    }

    a {
      margin-left: 0;
      margin-right: auto;
      color: rgba(#fff, 0.5);
      transition: color 0.1s ease-out;
      &:hover {
        color: #fff;
      }
      svg {
        display: inline-block;
        margin: 0 5px -10px 0;
        width: 40px;
        height: 40px;
      }
    }

    h1 {
      margin-left: 0;
      margin-right: 0;
    }

    p {
      margin-left: 0;
      margin-right: 0;
    }

    @media (min-width: 500px) {
      p {
        margin-right: 75px;
      }
    }

    @media (min-width: 850px) {
      &::before {
        transform: translateX(-53%);
      }

      &::after {
        bottom: 30px;
      }

      h1 {
        margin-right: -50px;
      }

      p {
        margin-right: 100px;
      }

      a {
        position: absolute;
        top: 45px;
        left: 0;
        transform: translateX(-100%);
        svg {
          width: 84px;
          height: 103px;
        }
      }
    }
  }

  @media (min-width: 500px) {
    h1 {
      margin: 20px 50px;
    }

    p {
      margin: 0 25px;
    }
  }

  @media (min-width: 850px) {
    padding: 75px 0;

    h1 {
      margin: 20px 100px;
    }

    p {
      margin: 0 75px;
    }
  }
}

footer {
  overflow: hidden;
  position: relative;
  padding: 100px 0 50px;
  text-align: center;
  color: #fff;
  font-weight: 800;
  background: $brand;
  &::before,
  &::after {
    content: "";
    z-index: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 150vw;
    height: 150vw;
    border-radius: 50%;
    background: rgba(#fff, 0.1);
  }
  &::before {
    transform: translate(-76%, -120px);
  }
  &::after {
    transform: translate(-30%, -170px);
  }

  h2 {
    line-height: 1.2;
  }

  .container {
    margin-bottom: 100px;
    .page & {
      display: none;
    }
  }

  > ul {
    position: relative;
    z-index: 1;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  > a {
    display: block;
    line-height: 40px;
    color: rgba(#fff, 0.5);
    &:hover {
      color: #fff;
    }
  }

  @media (min-width: 500px) {
    padding: 100px 0;

    > ul {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      line-height: 1;
    }
  }
}

article {
  color: rgba($text, 0.8);
}

section {
  padding: 75px 0;
  &:first-child {
    padding-top: 50px;
  }

  @media (min-width: 850px) {
    padding: 100px 0;
    &:first-child {
      padding-top: 75px;
    }
  }
}

.bg {
  background: rgba($brand, 0.1);
}

.button {
  display: inline-block;
  height: 75px;
  padding: 0 50px;
  line-height: 75px;
  font-size: 1.2rem;
  color: $brand;
  font-weight: 800;
  border-radius: 75px;
  background: #fff;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 25px;
  &.narrow {
    max-width: 640px;
  }
}

.reasons {
  list-style: none;
  margin: 0;
  padding: 0;
  > li {
    display: flex;
    margin: 0;
    & + li {
      margin-top: 50px;
    }
  }

  @media (min-width: 800px) {
    display: flex;
    flex-wrap: wrap;
    margin: -25px;
    > li {
      flex: none;
      width: calc(50% - 50px);
      padding: 25px;
    }
    > li + li {
      margin: 0;
    }
  }
}

.reasons-horizontal {
  max-width: 100%;
  overflow: auto;
  list-style: none;
  margin: 0;
  padding: 50px 25px;
  display: flex;
  -webkit-overflow-scrolling: touch;
  > li {
    flex: none;
    width: 66vw;
    min-width: 220px;
    max-width: 425px;
    display: flex;
    margin: 0;
    &:last-child {
      min-width: 0;
      width: 1px;
    }
    & + li {
      margin-left: 25px;
    }
  }

  @media (min-width: 500px) {
    padding: 100px 50px;
    > li {
      & + li {
        margin-left: 50px;
      }
    }
  }
}

.reason {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  padding: 40px 30px;
  text-align: center;
  background: #fff;
  transition: all 0.1s ease-out;
  &:hover,
  &.active {
    color: #fff;
    background: $brand;
  }
  &.active {
    cursor: default;
  }

  &-index {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -33%);
    width: 44px;
    height: 44px;
    line-height: 44px;
    color: #fff;
    font-weight: 800;
    border-radius: 50%;
    background-color: $brand;
    transition: all 0.1s ease-out;
  }
  &:visited &-index {
    font-size: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='15px' height='12px' viewBox='0 0 15 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpolygon fill='%23fff' points='12.3075 0 5.57625 6.66830769 2.6925 3.80676923 0 6.48 5.57625 12 15 2.664'%3E%3C/polygon%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
  }
  &:hover &-index,
  &.active &-index {
    color: $brand;
    background-color: #fff;
  }

  &-title {
    margin: 0 0 5px;
    font-size: 1.1rem;
    line-height: 1.1;
    font-weight: 800;
  }
  &:hover &-title,
  &.active &-title {
    color: inherit;
  }

  &-intro {
    margin: 0 0 -3px;
    opacity: 0.8;
    font-size: 0.9rem;
  }

  @media (min-width: 800px) {
    border-radius: 44px;
    padding: 44px;
    min-height: 150px;
  }
}

.content {
  a {
    font-weight: 500;
    box-shadow: inset 0 -1px 0 rgba($text, 0.25);
    &:hover {
      box-shadow: inset 0 -1px 0 $text;
    }
  }
}
