<html class="page">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  <title>{{ page.title }} - Empty Døllar Set Explained</title>
  {% include meta.html %}
  {% include tag_manager.html %}
  {% include styles.html %}
  <header>
    <div class="container narrow">
      <a href="/"><img src="/images/logo.png" /></a>
      <h1>{{ page.title }}</h1>
      <p>{{ page.intro }}</p>
    </div>
  </header>
  <main>
    <section>
      <div class="container narrow content">
        {{ content }}
      </div>
    </section>
  </main>
  {% include footer.html %}
</html>