<html class="page-home">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  <title>Empty Døllar Set</title>
  {% include meta.html %}
  {% include tag_manager.html %}
  {% include styles.html %}
  <header class="bg">
    <div class="container narrow">
      <img src="/images/logo.png" />
      <strong>A beginners guide to</strong>
      <h1>Empty Døllar Set</h1>
      <p>The stablecoin powering the future of decentralized finance!</p>
    </div>
  </header>
  <main>
    <section class="bg">
      <div class="container">
        {% include reasons.html %}
      </div>
    </section>
  </main>
  {% include footer.html %}
</html>